@charset "UTF-8";

.flex-center {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
  border-radius: 10px;
  padding: 0 15px;
  line-height: 50px;
}

.btn:first-child {
  margin-left: 0;
}

/* btn */

.btn-red {
  color: #fff;
  background: #fd0f0fd9;
}

.btn-blue {
  color: #fff;
  background: #170ffdd9;
}

.btn-green {
  color: #000;
  background: #0ffd0fd9;
}

/* 影 */

.shadow-red {
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 6px 0 rgba(63, 5, 5, 0.851), 0 5px 1px rgba(63, 5, 5, 0.851);
}

.shadow-blue {
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 6px 0 rgba(5, 13, 63, 0.851), 0 5px 1px rgba(5, 13, 63, 0.851);
}

.shadow-green {
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 6px 0 rgba(5, 63, 5, 0.851), 0 5px 1px rgba(5, 63, 5, 0.851);
}

/* アニメーション */

.push-red {
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 6px 0 rgba(63, 5, 5, 0.851), 0 5px 1px rgba(63, 5, 5, 0.851);
}

.push-blue {
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 6px 0 rgba(5, 13, 63, 0.851), 0 5px 1px rgba(5, 13, 63, 0.851);
}

.push-green {
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 6px 0 rgba(5, 63, 5, 0.851), 0 5px 1px rgba(5, 63, 5, 0.851);
}

.push-red:active,
.push-blue:active,
.push-green:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.change-color-btn {
  color: #67c5ff;
  border: 4px double #67c5ff;
  transition: .5s;
}

.change-color-btn:hover {
  background: #fffbef;
}

.dotted-btn {
  color: #67c5ff;
  border: 4px dotted #75caff;
  transition: .5s;
}

.dotted-btn:hover {
  border-style: dashed;
}

.back-white-btn {
  color: #0079a5f8;
  background: #d0edfff8;
  border: 4px dashed #67c5ff;
  transition: .5s;
}

.back-white-btn:hover {
  color: #67c5ff;
  background: #ffffff;
}